.adminPanel {
    table-layout: auto;
}

.headerRow th, td.nameCol {
    font-weight: bold;
    color: black;
}

.editButtons {
    margin-right: 5px;
}

.editButtons div span {
    text-transform: capitalize;
}

td:nth-child(5), th:nth-child(5) {
    height: auto;
    overflow: auto;
    white-space: normal;
}

.skillChip {
    border-radius: 0.5em;
    background-color: #e8e8e8;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}